<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reciepts</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'create_account' %}">Create Account</a></li>
            <li><a href="{% url 'create_category' %}">Create Expense Category</a></li>
            <li><a href="{% url 'category_list' %}">Expense Categories</a></li>
            <li><a href="{% url 'account_list' %}">Accounts list</a></li>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in receipt_list %}
                    <tr>
                        <td>{{ i.vendor }}</td>
                        <td>{{ i.total }}</td>
                        <td>{{ i.tax }}</td>
                        <td>{{ i.date|date:"m/d/y" }}</td>
                        <td>{{ i.category.name }}</td>
                        <td>{{ i.account.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
</body>
</html>
