<!DOCTYPE html>
<html>
<head>
	<title>Expense category list view</title>
</head>
<body>
	<header>
		<nav>
			{% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'account_list' %}">Accounts list</a></li>
			<li><a href="{% url 'create_account' %}">Create Account</a></li>
			<li><a href="{% url 'create_category' %}">Create Expense Category</a></li>
            {% endif %}
		</nav>
	</header>
	<h1>Expense category list view</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Number of receipts</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
			<tr>
				<td>{{ category.name }}</td>
				<td>{{ category.receipts.count }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
